<div class = "container" >

      <div class="row text-left">
        <h2 class="bg-secondary text-white ">マイページ</h2>
      </div>


  <div class="row">
    <div class="col mx-auto">
      <h2 class= "text-center">登録情報</h2>
    </div>
    <div class="col mx-auto">
      <%= link_to "編集する", edit_customer_path, class:'btn btn-success' %>
    </div>
  </div>

  <div class = "col-md-7">
    <table class="table table-bordered">
      <tr>
        <th>氏名</th>
        <th><%= @customer.first_name %><%= @customer.last_name %></th>
      </tr>

      <tr>
        <th>カナ</th>
        <th><%= @customer.first_name_kana %><%= @customer.last_name_kana %></th>
      </tr>

      <tr>
        <th>郵便番号</th>
        <th><%= @customer.postal_code %></th>
      </tr>

      <tr>
        <th>住所</th>
        <th><%= @customer.address %></th>
      </tr>

      <tr>
        <th>電話番号</th>
        <th><%= @customer.telephone_number %></th>
      </tr>

      <tr>
        <th>メールアドレス</th>
        <th><%= @customer.email %></th>
      </tr>
    </table>
  </div>

<div class="row">
  <div class = "col-md-2">
    <h3>配送先</h3>
  </div>
  <div class = "col-md-3">
    <%= link_to "一覧を見る", addresses_path, class:'btn btn-primary' %>
  </div>
</div>

<div class="row">
  <div class = "col-md-2">
    <h3>注文履歴</h3>
  </div>
  <div class = "col-md-3">
    <%= link_to "一覧を見る", orders_path, class:'btn btn-primary' %>
  </div>
</div>
</div>