<div class="col-md-2">
  <h2 class="bg-secondary text-white text-center">商品新規登録</h2>
</div>


<div class="item_new">
<%= form_with model: @item, url:admin_items_path, method: :post, local: true do |f| %>
<div class="row">
  <div class= "col-md-4">商品画像</div>
  <div class= "col-md-4"><%= f.attachment_field :image %></div>
</div>

<div class="row">
  <div class= "col-md-4">商品名</div>
  <div class= "col-md-4"> <%= f.text_area :name, autofocus: true, autocomplete: "name" %></div>
</div>

<div class="row">
  <div class= "col-md-4">商品説明</div>
  <div class= "col-md-4"> <%= f.text_field :introduction, autofocus: true, autocomplete: "introduction" %></div>
</div>

<div class="row">
  <div class= "col-md-4">ジャンル</div>
  <div class= "col-md-4"> <%= f.text_field :genre, autofocus: true, autocomplete: "genre_id" %></div>
</div>

<div class="row">
  <div class= "col-md-4">税抜き価格</div>
  <div class= "col-md-4"> <%= f.text_field :price, autofocus: true, autocomplete: "price" %></div>
</div>

<!--<div class="row">-->
<!--  <div class= "col-md-4">販売ステータス</div>-->
<!--  <div class= "col-md-4"> <%= f.text_field :is_active, autofocus: true, autocomplete: "is_active" %></div>-->
<!--</div>-->

<%= f.submit "新規登録", class: 'btn btn-success btn-block mb-3 col-md-2' %>
<% end %>
</div>