<div class="col-md-4">
  <h2 class="bg-secondary text-white text-center">ジャンル一覧・追加</h2>
</div>


  <%= form_with modle: @genre do |f| %>
  <table class = "mx-auto">
    <tr>
      <td>ジャンル名</td>
      <td> <%= f.text_field :name %></td>
      <td><%= f.submit "新規登録", class: 'btn btn-success btn-block' %></td>
    </tr>
  </table>
  <% end %>

  <% @genres.each do |genre| %>
   <table class = "mx-auto">
     <tr>
       <td><%= genre.name %></td>
       <td><%= link_to "編集する", edit_admin_genre_path(genre), class:"btn btn-success mb-3 text-white" %></td>
     </tr>
   </table>
   <% end %>