<% if @address.errors.any? %>
  <%= @address.errors.count %>件のエラーが発生しました
  <% @address.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>


<div class="container">
  <div class = "row text-left">
  <h2 class="bg-secondary text-white">配送先一覧</h2>
  </div>

  <div class="create">
  <%= form_with model: @address do |f| %>
  <div class="row">
    <div class= "col-md-4">郵便番号（ハイフンなし）</div>
    <div class= "col-md-4"> <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></div>
  </div>

  <div class="row">
    <div class= "col-md-4">住所</div>
    <div class= "col-md-4"> <%= f.text_field :address, autofocus: true, autocomplete: "address" %></div>
  </div>

  <div class="row">
    <div class= "col-md-4">宛名</div>
    <div class= "col-md-4"> <%= f.text_field :name, autofocus: true, autocomplete: "name" %></div>
  </div>

  <%= f.submit "新規登録", class: 'btn btn-success ' %>
  <% end %>
  </div>

  <div class ="col-md-8">
    <table class = "table">
      <tr>
        <td>郵便番号</td>
        <td>住所</td>
        <td>宛名</td>
        <td></td>
      </tr>

      <% @addresses.each do |address| %>
        <tr>
          <td>
          <%= address.postal_code %>
          </td>
          <td>
          <%= address.address %>
          </td>
          <td>
          <%= address.name %>
          </td>
          <td>
            <%= link_to "編集", edit_address_path(address), class: "btn btn-success mb-3 text-white"%>
            <%= link_to "削除", address_path(address), method: :delete, class:"btn btn-danger  mb-3 text-white "%>
            </td>
        </tr>
      <% end %>
    </table>
  </div>



</div>