<div class = "container" >
  <div class="row">
  <div class="mx-auto">
    <h2 class="bg-secondary text-white text-center">ショッピングカート</h2>
  </div>
  </div>


  <div>
    <table>
      <tr>
        <td>商品名</td>
        <td>単価（税込み）</td>
        <td>数量</td>
        <td>小計</td>
      </tr>
      <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.item.name %></td>
        <td><%= cart_item.item.price %></td>

        <td><%= form_with model: cart_item, url:cart_item_path(cart_item.id), method: :patch, local: true do |f| %>
        <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
        <%= f.submit "変更", class: 'btn btn-success btn-block' %>
        <% end %>
        </td>
        <td><%= cart_item.item.price * cart_item.amount %></td>
        <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete %></td>
      </tr>
      <% end %>
    </table>
  </div>

    <div class = "row">
      <div class = "mx-auto">
      <%= link_to "買い物を続ける", items_path %>
      </div>
      <div class = "mx-auto">
        <div>合計金額</div>
      </div>
    </div>

    <div>
      <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %>
    </div>
</div>