<div class="col-md-2">
  <h2 class="bg-secondary text-white text-center">配送先一覧</h2>
</div>

<div class="create">
<%= form_with model: @address do |f| %>
<div class="row">
  <div class= "col-md-4">郵便番号（ハイフンなし）</div>
  <div class= "col-md-4"> <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></div>
</div>

<div class="row">
  <div class= "col-md-4">住所</div>
  <div class= "col-md-4"> <%= f.text_field :address, autofocus: true, autocomplete: "address" %></div>
</div>

<div class="row">
  <div class= "col-md-4">宛名</div>
  <div class= "col-md-4"> <%= f.text_field :name, autofocus: true, autocomplete: "name" %></div>
</div>

<%= f.submit "新規登録", class: 'btn btn-success btn-block mb-3 col-md-2' %>
<% end %>
</div>


<table>
  <tr>
    <td>郵便番号</td>
    <td>住所</td>
    <td>宛名</td>
  </tr>

<% Address.all.each do |address| %>
    <tr>
      <td>
      <%= address.postal_code %>
      </td>
      <td>
      <%= address.address %>
      </td>
      <td>
      <%= address.name %>
      </td>
    </tr>
    <% end %>
</table>