<div class = "container">
    <div class "row mx-auto m-3" >
      <h2>商品一覧</h2>
    </div>

</div>




<div class="container">
   <% @items.each do |item| %>
    <div class = "row flex-wrap mb-2">
      <div class = "col-4">
        <%= link_to item_path(item.id) do %>
         <div><%= attachment_image_tag item, :image, :fill, 150, 150, format: 'jpeg'%></div>
        <% end %>

         <div><%= item.name %></div>
         <div>￥<%= item.price %></div>
       </div>
     </div>
  <% end %>
</div>
  <div>
  <%= paginate @items %>
  </div>
