<div class = "container">
    <div class "row mx-auto m-3" >
      <h2>注文情報入力</h2>
    </div>


<div>
  <h2>支払い方法</h2>
  <%= form_with model: @order, url: comfirm_orders_path, method: :post, local: true do |f| %>
    <div class= "col-md-12"><%= f.radio_button :payment_method, :credit %>クレジットカード</div>
    <div class= "col-md-12"><%= f.radio_button :payment_method, :bank %>銀行振込</div>

  <h2>お届け先</h2>
    <div class= "col-md-12"><%= f.radio_button :address_option, 1 %>ご自身の住所</div>
    <div>〒<%= current_customer.postal_code %>　<%= current_customer.address %>
    </br><%= @name %></div>

    <label>
      <%= f.radio_button :address_option, 2 %>登録済み住所から選択
      <%= f.collection_select(:address_collection, @addresses, :id, :view_name_and_id ) %>
    </label>



    <div class= "col-md-12"><%= f.radio_button :address_option, 3 %>新しいお届け先</div>

    <div class = "row">
    <label class= "col-md-12">郵便番号</label>
    <div class = "col-md-12"><%= f.text_field :postal_code %></div>
    </div>

    <div class = "row">
    <label class = "col-md-12">住所</label>
    <div class = "col-md-12"><%= f.text_field :address %></div>
    </div>

    <div class ="row">
    <label class = "col-md-12">宛名</label>
    <div class = "col-md-12"><%= f.text_field :name %></div>
    </div>
      <%= f.submit "新規登録", class: 'btn btn-success mb-3' %>
</div>
<% end %>
</div>